body {
	background-color: #d95550;
	color: #ffffff;
	font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header a {
	text-decoration: none;
	color: #ffffff;
	display: flex;
}

.head-img {
	height: 100px;
}

.name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 50px 0 30px;
}

.name span {
	font-size: 2rem;
	font-weight: 500;
}

.name .name2 {
	letter-spacing: 15px;
}

hr {
	background-color: #ca4e4a;
	border: none;
	height: 2px;
	width: 50%;
}